<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="40" *ngIf="dish">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src={{dish.image}} alt={{dish.name}} >
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetail', next]">
                        <span class="fa fa-chevron-right fa-lg"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
    </div>
    <div fxFlex="40" *ngIf="dish">
        <mat-list>
            <h2 matLine>Comments</h2>
            <mat-list-item *ngFor="let comment of dish.comments">
                <p matLine>{{comment.comment}}</p>
                <p matLine>{{comment.rating}} Stars</p>
                <p matLine>--{{comment.author}} {{comment.date | date}}</p>
            </mat-list-item>

            <mat-list-item *ngIf="CommentForm.valid">
                <p matLine>{{CommentForm.value.comment}}</p>
                <p matLine>{{CommentForm.value.rating}} Stars</p>
                <p matLine>--{{CommentForm.value.author}} {{CommentForm.value.date | date}} </p>
            </mat-list-item>
        </mat-list>

        <form novalidate [formGroup]="CommentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="full-width">
                    <input matInput type="text" formControlName="author" placeholder="Name" required>
                    <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-slider thumbLabel  tickInterval="1" step="1" min="1" max="5" [value]="CommentForm.rating" formControlName="rating" aria-label="units"></mat-slider>

            </p>
            <p>
                <mat-form-field class="full-width">
                    <textarea matInput formControlName="comment" placeholder="Your Comment" rows="12" required></textarea>
                    <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="CommentForm.invalid">Submit</button>
        </form>

    </div>
    <div [hidden]="dish">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
</div>